:root {
    --background-image: url("/assets/genshin3.png");
    --white-color: #f9fafb;
    --black-color: #080808;
    --font-family: 'MS Gothic', sans-serif;
    --header-font: 'NSimSun', monospace;
    --font-size: 13px;
    --border-size: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: var(--header-font);
}

body {
    display: flex;
    background: var(--background-image) no-repeat fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: var(--black-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

a {
    text-decoration-style: none;
}

.window {
    padding: 1rem;
    text-align: center;
}

.window img {
    aspect-ratio: 3 / 4;
    max-height: 250px;
    opacity: 0.7;
}

.window img:hover {
    opacity: 0.9;
    transition: 0.5s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
}

/*** TOOL TIP STYLING ***/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tttext {
    visibility: hidden;
    width: 120px;
    color: var(--black-color);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tttext {
    visibility: visible;
    opacity: 1;
}

.tooltip img:hover {
    transform: scale(1.1);
}